@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Nunito", sans-serif;
    color: #230871;
    text-align: center;
}

p{
    font-family: "Nunito", sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.bloco_usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil {
    display: flex;
    width: 400px;
    justify-content: space-around;
}


.perfil .imagem {
    display: flex;
    height: 120px;
    width: 120px;
    border: #230871 1px solid;
    border-radius: 15px;
    
}


.perfil img {
    border-radius: 15px;
}


.botoes{
    margin-top: 10px;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.botoes a:hover{
    background-color: white;
    color: #230871;

}

.botoes a{
    display: flex;
    justify-content: center;
    width: 100px;
    background: #230871;
    border-radius: 15px ;
}
   

a {
    color: #fff;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
}

.aluno {
    display: flex;
}